body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #dda0dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  letter-spacing: 4px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  gap: 20px;
  letter-spacing: 2px;
  font-size: 18px;

  input {
    width: 80px;
    height: 50px;
    font-size: 16px;
    text-align: center;
  }
}
.box {
  display: flex;
  gap: 100px;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  border-style: none;
  background-color: #c11a78;
  color: #fff;
  box-shadow: 1px 2px 1px #545353;
  transition: transform 2s;
  margin-top: 20px;
}
button:hover {
  animation: btn 1s;
}

@keyframes btn {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
